<div class="d-flex flex-wrap text-center overflow-scroll">
    <% for (course of courses){%>
        <div class="p-3 m-3 border border-primary bg-light w-33">
            <a href="/schedule/remove/<%= course._id %>">X</a>
            <%= course['subject'] %>
            <%= course.coursenum %>
            <br>
            Course Name: <%= course.name %>
            <br>
            Instructor: <%=course.instructor[0] %>
            <%=course.instructor[1] %>
            (<%=course.instructor[2] %>)
            <br>
            Times: <%= course.strTimes%>
            <br>
            Enrolled/Capacity/Waiting: <%=course.enrolled %>/<%=course.limit || 999 %>/<%= course.waiting %>
            
        </div>
        
    <% } %>
</div>

<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->